@use  './breakpoints' as b;

@mixin container {
    width: min(100% - 12%, 1200px);
    margin: 0 auto;

    @include b.breakpoint-up(md) {
        width: min(100% - 15%, 1200px);
    }
}

//for this web only set up
// @mixin container {
//     width: min(100%, 1400px);
//     margin: 0 auto;
// }

@mixin mainPaddingLR {
    padding-left: 5vw;
    padding-right: 5vw;
}