@use '../utils/' as u;

.contact {
    padding: 5em 0 10em;

    .container {
        @include u.container;
        position: relative;

        &::before {
            content: 'Contact';
            position: absolute;
            top: -1.3em;
            left: 0;
            width: 100%;
            font-size: 5em;
            color: hsla(var(--clr-black), .1);

            @include u.breakpoint-up(md) {
                font-size: 6em;
            }
        }
    }

    @include u.breakpoint-up(md) {
        &__actions {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        background-color: hsla(var(--clr-black), .75);
        padding: 2em;
        margin-bottom: 2em;

        & > * {
            margin-bottom: 1em;
            font-family: var(--ff-inter);
            font-size: var(--fs-body);
            padding: .5em;
            border: none;
            border-radius: .25em;
            color: hsl(var(--clr-white));
            background-color: hsla(var(--clr-black), .25);
        }

        .submit-btn {
            background-color: hsl(var(--clr-primary));           
            padding: .625em;
            margin-bottom: 0;
        }
    }

    &__links {
        position: relative;

        &::before {
            content: url(../images/arrow.svg);
            position: absolute;
            top: 0;
            right: 30%;
            transform: scale(.75) rotate(15deg);
        }
    }

    span {
        display: flex;
        align-items: center;
    }

    &__icons {
        margin-right: 1em;
    }

    &__option {
        // margin-top: 2em;
        margin-bottom: 2em;
    }

    .social-icons {
        display: inline-block;
        width: 1em;
        height: 1em;
        padding: 1em;
        color: hsl(var(--clr-white));
        background-color: hsla(var(--clr-primary), 1);
        border-radius: 50%;
        margin-top: 1em;
        margin-right: 1.5em;
    }
}