@use '../utils/' as u;

.featured {  
    overflow: hidden;
    padding: 4em 0 10em;
    
    .container {
        // @include u.container;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        grid-template-areas: 
            "featured-right "
            "featured-left ";

        &::before {
            content: 'Featured';
            position: absolute;
            top: -1.1em;
            left: 0;
            width: 100%;
            font-size: 5em;
            color: hsla(var(--clr-black), .1);
        }

        .left {
            grid-area: featured-left;
            background-color: hsla(var(--clr-white), .5);
            backdrop-filter: blur(5px);
            margin-left: 5vw;
            margin-right: 5vw;
            position: relative;
            border-radius: .25em;
            display: flex;
            flex-direction: column;
        }
    
        .right {
            grid-area: featured-right;
        }

        @include u.breakpoint-up(md) {
            @include u.container;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "featured-left featured-right";

            &::before {
                top: -1em;
                font-size: 6em;
            }
    
            .left {
                padding: 1.25em;
                align-self: center;
                width: 110%;
                min-width: 400px;
                position: relative;
                z-index: 5;
                box-shadow: -6px 10px 10px -8px hsla(var(--clr-black), .5);
                margin-left: unset;
                margin-right: unset;
            }
    
            .right {
                align-self: center;
                width: 140%;
                // min-width: 400px;
            }

            .photo-placeholder {
                transform: translate(-20%, 0%);
            }
    
            .featured__photo {
                margin-bottom: unset;               
            }
        }
    }
    
    &__secondary-title {
        font-weight: var(--fw-normal);
    }

    &__desc {
        margin-bottom: 2.5em;
    }
    
    &__link {
        font-weight: var(--fw-medium);
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-primary-dark));
        padding: .5em 1.125em;
        margin-right: auto;
        border: 1px solid transparent;
        transition: all 400ms ease-in-out;
    
        &:hover {
            background-color: hsl(var(--clr-white));
            color: hsl(var(--clr-primary-dark));
            box-shadow: -6px 6px 10px -2px hsla(var(--clr-black), .5);
            // scale: 1.01;
        }

        @include u.breakpoint-up(md) {
            margin-right: unset;
            margin-left: auto;
        }
    }

    .link__icon {
        font-size: 1.25em;
        margin-left: .25em;
    }

    .photo-placeholder {
        background-color: hsl(var(--clr-primary));
        overflow: hidden;

        &:hover .featured__photo {
            transform: scale(1.2);
            opacity: .75;
        }            
    }
    
    &__photo {
        width: 100%;
        min-height: 400px;
        max-height: 450px;
        object-fit: cover;
        object-position: right;
        transition: all 400ms ease-in-out;
    } 
}

