@use '../utils/' as u;

.header {
    color: hsl(var(--clr-black));
    background-color: transparent;
    box-shadow: 0px 5px 10px -8px hsla(var(--clr-black), .5);
    position: fixed;
    width: 100%;
    z-index: 10;

    &.scrolledClass {
        background-color: hsla(var(--clr-white), .95);

        .container {
            padding: .5em 0;
        }
    }

    .container {
        @include u.container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        transition: all 400ms ease-in-out;
    }

    @include u.breakpoint-down(md) {
        .menu-btn {
            display: block;
        }

        // .log-in-btn {
        //     font-size: var(--fs-small);
        //     position: fixed;
        //     padding: .75em 4em;
        //     top: 35em;
        //     right: 5.5em;
        //     opacity: 0;
        //     transform: translateX(200%);
        //     z-index: 10;
        // }

        // .log-in-btn.active {
        //     opacity: 1;
        //     transform: translateX(0);
        // }

        .nav {
            position: fixed;
            top: 0;
            right: 0;
            height: auto;
            width: 320px;
            // color: hsla(var(--clr-black), .1);
            background-color: hsl(var(--clr-white));
            transform: translateX(100%);
            transition: all 400ms ease-in-out;
            z-index: 5;

            &.active {
                transform: translateX(0);

                .nav-list__item {
                    animation: showItemsUp 400ms linear both 0.5s;
                }
    
                // @for $i from 1 through 4 {
                //     .nav-list__item:nth-child(#{$i}) {
                //         animation-delay: ($i * 0.1s) + 0.15s;
                //     }
                // }
            }
        }

        .nav-list {
            margin-top: 5em;
            flex-direction: column;
            height: 100vh;

            &__item {
                margin-left: unset;
                margin-bottom: 3em;

                .link {
                    display: inline-block;
                    text-align: center;
                    width: 6em;
                }
            }
        }      
    }
}

.logo {
    margin-bottom: 0;
}

.menu-btn {
    display: none;
    position: relative;
    height: 26px;
    width: 6px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    z-index: 10;

    .burger {
        position: absolute;
        width: 100%;
        height: 4px;
        top: 10px;
        border-radius: 1em;
        background-color: hsla(var(--clr-black), .9);
        transition: all 400ms ease-in-out;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            top: -8px;
            border-radius: 1em;
            background-color: hsla(var(--clr-black), .9);
            transition: all 400ms ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            top: 8px;
            border-radius: 1em;
            background-color: hsla(var(--clr-black), .9);
            transition: all 400ms ease-in-out;
        }
    }

    &.active {
         width: 26px;
        //  transform: rotate(720deg) translateX(9px);
         transform: translateX(9px);

         .burger {
            background-color: transparent;
    
            &::before {
                transform: translateY(200%) rotate(45deg) ;
            }
    
            &::after {
                transform: translateY(-200%) rotate(-45deg) ;
            }
        }
    }
}

.nav-list {
    display: flex;
    align-items: center;

    &__item {
        font-size: var(--fs-small);
        font-weight: var(--fw-medium);
        text-transform: uppercase;
        margin-left: 2em;

        .link {
            position: relative;
            color: hsla(var(--clr-black), .9);
            padding: .25em 0;
            transition: all 400ms ease-in-out;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                right: 0;
                bottom: 0;
                height: .17em;
                width: 100%;
                transform: scaleX(0);
                background-color: hsl(var(--clr-primary));
                // transform-origin: 0% 100%;
                transition: all 400ms ease-in-out;
                z-index: -1;
            }

            &:hover {
                color: hsl(var(--clr-black));
                
                &::before {
                    transform: scaleX(1);
                }
            }
            
            &.active {
                color: hsl(var(--clr-primary-dark));
                
                &::before {
                    transform: scaleX(1);
                }
            }
        }     
    }
}

// .log-in-btn {
//     font-family: var(--ff-inter);
//     font-size: var(--fs-small);
//     font-weight: var(--fw-bold);
//     color: hsl(var(--clr-black));
//     background-color: transparent;
//     border: 1px solid hsl(var(--clr-primary));
//     padding: .5em 2em;
//     cursor: pointer;
//     transition: all 400ms ease-in-out;

//     &:hover {
//         color: hsl(var(--clr-white));
//         background-color: hsl(var(--clr-primary));
//     }
// }