@use '../utils/' as u;

.hero {
    color: hsl(var(--clr-black));
    overflow: hidden;
    position: relative;
    padding: 10em 0 7em;
    background-color: hsla(var(--clr-white), .4);
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: left top;
    background-blend-mode: lighten;
    clip-path: polygon(0 0, 109% 0, 100% 87%, 38% 100%, 0 95%);
    margin-bottom: 5em;

    .container {
        @include u.container;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;        

        .right {
            display: none;
        }

    }

    @include u.breakpoint-up(md) {
        .container {
            justify-content: space-between;
            text-align: left;
        }
        
        .right {
            display: block;    
        }
    }
} 

.intro-desc {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 5em ;

    @include u.breakpoint-up(md) {
        margin: unset;
        margin-bottom: 5em ;
    }
}

.hero__btn {
    font-family: var(--ff-inter);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    padding: .625em 1.5em;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    display: block;
    width: 80%;
    margin: 0 auto;

    @include u.breakpoint-up(sm) {
        width: unset;
        display: inline-block;
    }
}

.learn-more-btn {
    background-color: hsl(var(--clr-primary));
    border: 1px solid hsl(var(--clr-primary));
    color: hsl(var(--clr-white));
    margin-bottom: 1em;

    @include u.breakpoint-up(sm) {
        margin-right: 1em;
    }

    &:hover {
        color: hsl(var(--clr-black));
        background-color: hsl(var(--clr-white));
        border: 1px solid hsl(var(--clr-white));
    }
}

.cv-btn {
    background-color: transparent;
    border: 1px solid hsl(var(--clr-primary));

    &:hover {
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-primary));
    }
}

.hero-design {
    max-width: 600px;
    height: auto;
    border: 1px solid black;
    transform: translate(-60%, -20%);

    @include u.breakpoint-down(lg) {
        display: none;
    }
}

