@use '../utils/' as u;

.hero {
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-primary-dark));
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 67%, 69% 92%, 0 100%, 0 0);
    position: relative;
    z-index: -20;

    .container {
        @include u.container;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 9em 0 5em;

        .right {
            display: none;
        }

    }

    @include u.breakpoint-up(md) {
        clip-path: polygon(78% 0, 82% 70%, 69% 92%, 0 100%, 0 0);

        .container {
            justify-content: space-between;
            text-align: left;
        }
        
        .right {
            display: block;    
        }
    }
} 

.intro-desc {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 5em ;

    @include u.breakpoint-up(md) {
        margin: unset;
        margin-bottom: 5em ;
    }
}

.dl-btn {
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    color: transparent;
    text-transform: uppercase;
    padding: .75em 1em;
    padding-right: 2.5em;
    background-color: hsl(var(--clr-white));
    border-radius: 1.5em;
    border: 2px solid hsl(var(--clr-accent));
    position: relative;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap; 
    transition: all 400ms ease-in-out;
    width: 6em;

    &::after {
        content: '⬇';
        font-size: var(--fs-body);
        position: absolute;
        top: 0;
        right: 0;
        color: hsl(var(--clr-black));
        background-color: hsl(var(--clr-accent));
        border-radius: 50%;
        padding: .325em .25em;
        height: 2.2em;
        width: 2.2em;
        transition: all 400ms ease-in-out;

        @include u.breakpoint-up(md) {
            height: 2.6em;
            width: 2.6em;
            padding: .6em .25em;
        }
    }

    &:hover {
        width: 12.5em;
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-accent));

        &::after {
            transform: rotate(720deg);
            background-color: hsl(var(--clr-white));
        }
    }
}

.hero-design {
    max-width: 600px;
    height: auto;
    border: 1px solid black;
    transform: translate(-60%, -20%);

    @include u.breakpoint-down(lg) {
        display: none;
    }
}

