@use '../utils/' as u;

.projects {
    padding: 8em 0;
    position: relative;
    overflow: hidden;
    border: 1px solid peachpuff;

    // &::before, &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: -1;
    // }

    // &::after {
    //     background-color: hsla(var(--clr-primary), 1);
    //     clip-path: polygon(0 24%, 100% 28%, 100% 42%, 0 38%);
    // }

    .container {
        @include u.container;
        position: relative;

        &::before {
            content: 'Projects';
            position: absolute;
            top: -1.3em;
            left: -.3em;
            width: 100%;
            font-size: 5em;
            color: hsla(var(--clr-black), .1);

            @include u.breakpoint-up(md) {
                font-size: 6em;
            }
        }
    }
    
    @include u.breakpoint-up(md) {

        // &::before {
        //     background-color: hsl(var(--clr-primary));
        //     clip-path: polygon(20% 14%, 100% 20%, 100% 48%, 20% 40%);
        // }
    
        // &::after {
        //     background-color: hsla(var(--clr-primary), .5);
        //     clip-path: polygon(0 12%, 100% 20%, 100% 48%, 0 40%);
        // }
        
        .project-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "left right";
            gap: 1em 2em;
            padding-bottom: 1em;
        }

        .left {
            grid-area: left;
        }

        .right {
            grid-area: right;
        }
    }

    .project__link {
        display: block;
        overflow: hidden;
        background: hsl(var(--clr-accent));
        // box-shadow: -4px 6px 17px 0px rgba(0,0,0,0.75);
        
        &:hover .project__image {
            transform: scale(1.2);
            opacity: .75;
        }
    }

    .project__image {
        transition: all 400ms ease-in-out;
    }

    .project__info {
         @include u.container;
         padding: 1em 0;
         display: flex;
         flex-direction: column;
         justify-content: center;
    }

    .secondary-title {
        font-weight: var(--fw-regular);
        margin-bottom: .5em;
    }

    .desc {
        font-size: var(--fs-body);
    }

    // .text-light {
    //     color: hsl(var(--clr-white));
    // }
}