:root {  
    --clr-primary: 194, 85%, 62%;
    --clr-primary-dark: 194, 65%, 29%;
    --clr-secondary: 333, 93%, 56%;
    --clr-secondary-dark: 332, 84%, 29%;
    --clr-accent: 72, 66%, 51%;
    --clr-black: 0, 0%, 0%;
    --clr-white: 0, 0%, 100%;
}

