:root {
    --clr-black: 0, 0%, 0%;
    --clr-white: 0, 0%, 100%;
    --clr-gray: 180, 4%, 50%;
    --clr-gray-dark: 160, 5%, 12%;
    --clr-gray-light: 180, 20%, 86%;
    --clr-primary: 174, 100%, 46%;
    --clr-primary-dark: 174, 95%, 25%;
    --clr-primary-light: 174, 100%, 75%;
    --clr-accent: 52, 100%, 86%;
    --clr-accent-dark: 52, 74%, 27%;
    --clr-accent-light: 52, 91%, 91%;
}

.temp2 {
    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray: hsl(180, 4%, 50%);
    --clr-gray-dark: hsl(160, 5%, 12%);
    --clr-gray-light: hsl(180, 20%, 86%);
    --clr-primary: hsl(174, 100%, 46%);
    --clr-primary-dark: hsl(174, 91%, 25%);
    --clr-primary-light: hsl(174, 100%, 75%);
    --clr-accent: hsl(52, 100%, 86%);
    --clr-accent-dark: hsl(52, 74%, 27%);
    --clr-accent-light: hsl(52, 91%, 91%);
}

